.table{
   display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 10px;
}

 th, td {
    padding: 10px, 5px;
    font-size: 20px;
  }

  .heading{
    font-size: 25px;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    background: blue;
  }